h1 {
  text-align: center;
}
#background {
  position: relative;
  top: 0;
  left: 0;
}
#main-pokemon {
  position: absolute;
  top: 380px;
  left: 200px;
  z-index: 1;
}
#side-pokemon {
  position: absolute;
  top: 150px;
  left: 650px;
}
.battle-pokemon {
  height: 300px;
}
.moveset button {
  width: 512px;
}

@keyframes attack {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(300px, -100px);
  }
}
